---

import json from '../__generated__/licenses.json'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>License Demo</title>
	</head>
	<body>
		<h1>License Demo</h1>
		<pre>{JSON.stringify(json, null, 2)}</pre>
	</body>
</html>
